/* General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f5f7fa, #c3e5ae);
    color: #333;
}

/* Encabezado */
header {
    background-color: #00695c;
    color: #ffffff;
    text-align: center;
    padding: 1.5em 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #004d40;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #00332c;
}

/* Sección de instalaciones */
.facilities {
    padding: 40px;
    text-align: center;
}

.facilities h2 {
    color: #00695c;
    margin-bottom: 30px;
    font-size: 2.5em;
    background-color: #cce8e6;
    padding: 10px;
    border-radius: 8px;
}

.facility-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.facility {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.facility:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.facility h3 {
    color: #00796b;
    margin-bottom: 12px;
}

.facility-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #004d40;
    color: #ffffff;
    margin-top: 30px;
}
